**/testResults*
**/*.mexw64
**/*.mexa64
**/*.mexmaci64
**/*.autosave
**/*.asv
**/*.slxc
**/slprj*
**/*.ior
**/Thumbs.db
~*.*
-*.*
build/*
build_glnxa64/*
build_win64/*
!build_win64/bin/
!build_glnxa64/bin/
x64/